<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alexander.demo01">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="Pyme System"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.LoginStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" android:label="Menú Principal"/>
        <activity android:name=".ItemFindActivity" android:screenOrientation="portrait" android:label="Buscar Item"/>
    </application>

</manifest>